jenkinsci/jenkins-data
jenkins/jenkins-data
/.idea
/.vscode
mariadb/data
mysql/data
mongo/data
mongo/log
postgreSQL/data
grafana/data
mariadb/data
rabbitmq/data
rabbitmq/log
redis/data
etcd/etcd-data
kafka/kafka/logs
debezium/kafka/logs
debezium/postgresql/data
debezium/zookeeper/data
debezium/zookeeper/datalog
es/conf
es/data
es/logs
es/plugins

